/*COMMON*/
.debug {
    height: 200px;
    background-color: coral;
}

.center {
    text-align: center;
}

.spaziatura_top {
    padding-top: 30px;
}

.spaziatura_bottom {
    padding-bottom: 30px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}


/* test 
li {
    margin-left: 20px;
    line-height: 60px;
}  */

/*FINE COMMON*/


/*INIZIO HEADER*/

/*inizio menu*/
.wrapper_menu {
    background-color: white;
}


.logo img {
    max-width: 200px;
    padding-top: 10px;
}

.menu_left nav ul {
    text-align: center;
    list-style-type: none;
}

.menu_left nav ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 78px;
}

.menu_left nav ul li a {
    text-decoration: none;
    color: black;
}



.menu_right nav ul {
    text-align: center;
    list-style-type: none;
}

.menu_right nav ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 78px;
}

.menu_right nav ul li a {
    text-decoration: none;
    color: black;
}

#blue_button {
    padding: 7px;
    border: solid #3d8dff 1px;
    border-radius: 5px;
    color: #3d8dff;
}

.burger_menu {
    text-align: right;
}

.fa-bars {
    line-height: 65px;
}
/*fine menu*/


/*inizio jumbotron*/
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
    margin-bottom: 0;
}

.jumbotron_left {
    color: white;
}

.jumbotron_left h2, h1 {
    font-size: 63px;
    line-height: 43px;
}

.jumbotron_left p {
    margin-top: 40px;
}

.jumbotron_right {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.jumbotron_right span {
    color: #3a8bff;
}

.jumbotron_right form {
    width: 100%;
}

.style_form {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=text] {
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 1px;
}

.submit_button {
    padding: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #579aff;
}

.sign_up_google {
    padding: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}

.jumbotron_right_btn {
    display: block;
    width: 100%;
    margin-top: 20px;
}

.jumbotron_right_btn img {
    width: 30px;
    height: auto;
}

.jumbotron_right p {
    padding-top: 20px;
}
/*fine jumbotron*/

/*FINE HEADER*/



/*INIZIO MAIN*/

.wrapper_group {
    background-color: #f3f5f9;
    padding-top: 30px;
    padding-bottom: 20px;
}

.group_list li {
    display: inline-block;
    margin-left: 30px;
}

.bottom_nav a {
    color: #579aff;
}

.group_list ul {
    padding: 0;
}


/*inizio deploy and scale*/
.deploy_and_scale {
    margin-left: auto;
    margin-right: auto;
}

.deploy_and_scale_description {
    max-width: 100%;
}
/*fine deploy and scale*/

.list_border {
    padding-left: 8px;
    border-left: 1px solid grey;
}



/*inizio section designed_for_developers*/
.designed_for_developers {
    background-color: #f3f5f9;
}

.chevron-left {
    height: 117px;
    text-align: right;
    display: block;
    padding-top: 30%;
}

.chevron-right {
    height: 117px;
    text-align: left;
    display: block;
    padding-top: 30%;
}

.slide {
    padding-top: 20px;
}

.slide div {
    padding: 5px;
    background-color: #006aff;
    border: 1px solid #006aff;
    border-radius: 50%;
    display: inline-block;
}

.particular {
    border: 1px solid #006aff;
    background-color: white;
}
/*fine section designed_for_developers*/


/*inizio the features your business needs*/

.wrapper_space {
    padding-top: 40px;
}

.predictable_pricing a, .world_class_service a, .reliable_platform a {
    color: #006aff;
}
/*fine the features your business needs*/


/*inizio service_your_customers*/

.wrapper_service_your_customers {
    background-color: #003fbb;
}

.service_your_customers {
    background-color: #003fbb;
    color: white;
    margin-bottom: 23px;
}

.wrapper_row_single_code {
    border-bottom: 1px solid white;
    margin-top: 10px;
}

.wrapper_col-table_code {
    color: white;
    margin-left: 12px;
}

.wrapper_col-table_city {
    color: white;
    text-align: left;
}

.wrapper_col-table_link {
    text-align: right;
    margin-right: 12px;
}

.wrapper_col-table_link a {
    color: #4b92f5;
}

/*fine service_your_customers*/

/*FINE MAIN*/