/*COMMON*/
.debug {
    height: 200px;
    background-color: coral;
}

.spaziatura_top {
    padding-top: 30px;
}

.spaziatura_bottom {
    padding-bottom: 30px;
}

.spaziatura_left {
    padding-left: 100px;
}

.spaziatura_right {
    padding-right: 100px;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
/*FINE COMMON*/


/*INIZIO HEADER*/

/*inizio menu*/
.wrapper_menu {
    background-color: white;
}


.logo img {
    max-width: 200px;
    padding-top: 10px;
}

.menu_left nav ul {
    text-align: center;
    list-style-type: none;
}

.menu_left nav ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 78px;
}

.menu_left nav ul li a {
    text-decoration: none;
    color: black;
}



.menu_right nav ul {
    text-align: center;
    list-style-type: none;
}

.menu_right nav ul li {
    display: inline-block;
    margin-left: 20px;
    line-height: 78px;
}

.menu_right nav ul li a {
    text-decoration: none;
    color: black;
}

#blue_button {
    padding: 7px;
    border: solid #3d8dff 1px;
    border-radius: 5px;
    color: #3d8dff;
}

.burger_menu {
    text-align: right;
}

.fa-bars {
    line-height: 65px;
}
/*fine menu*/


/*inizio jumbotron*/
.jumbotron {
    background-image: url("../img/ms-jumbo.jpg");
}

.jumbotron_left {
    color: white;
}

.jumbotron_left h2, h1 {
    font-size: 63px;
    line-height: 43px;
}

.jumbotron_left p {
    margin-top: 40px;
}

.jumbotron_right {
    width: 100%;
    background-color: white;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.jumbotron_right span {
    color: #3a8bff;
}

.jumbotron_right form {
    width: 100%;
}

.style_form {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

input[type=text] {
    border-radius: 5px;
    border: solid rgb(230, 230, 230) 1px;
}

.submit_button {
    padding: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #579aff;
}

.sign_up_google {
    padding: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    color: black;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
}

.jumbotron_right p {
    padding-top: 20px;
}
/*fine jumbotron*/

/*FINE HEADER*/